* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


footer {
  font-size: 0.9rem;
  color: #aaa;
  padding: 20px;
  border-top: 3px solid rgb(255, 255, 255);
  border-bottom: none;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  padding: 60px 20px;
}

.tarjeta {
  background-color: #2f2f2f;
  border-radius: 4px;
  width: 320px;
  padding: 30px 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.6);
}

.tarjeta:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 18px rgba(255, 255, 255, 0.5);
}

.imagen {
  width: 100%;
  height: 200px;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.tarjeta:hover .imagen img {
  transform: scale(1.05);
}

.tarjeta h3 {
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
}


.tarjeta a {
  display: inline-block;
  margin-top: 5px;
  width: 100%;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  padding: 15px 40px;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.4);
  text-align: center;
  text-decoration: none;
}
.tarjeta a:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
  transform: translateY(-3px);
}

/* Banner */
.banner {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../imagenes/headd.png'); 
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
}
.overlayW {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../imagenes/headdM.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 20px;
}

.content h1 {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 2.3em;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.content p {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1.4em;
  font-weight: 300;
}

/* */

@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
    align-items: center;
  }
}
